body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1 {
    color: red;
    font-size: 40px;
    margin: 20px;
    background-color: azure;
    padding: 20px;
}

li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: aqua;
    margin: 10px;
    
}

li:visited {
    color: blueviolet;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}